$turquoise = #1abc9c
$green-sea = #16a085

$color_primary_default = $turquoise
$color_primary_hover = #48c9b0
$color_primary_active = $green-sea

.ui.button.primary
  background-color $color_primary_default

  &:hover
    background-color $color_primary_hover

  &:active
    background-color $color_primary_active

